ion-content,ion-toolbar{
    --background: linear-gradient(to right, rgb(245, 169, 47), rgba(255, 0, 119, 0.753) );
}

ion-title{
    color: white;
}

ion-list {
    --ion-item-background: rgba(255, 255, 255, 0.0);
}

.label {
    color: white;
}